DELETE__STATUS=0
ADD__STATUS=0
EDIT__INVALIDATED=20091010
EDIT__STATUS=0
NEW__STATUS=2
EDIT_DEL_SHORT__STATUS=0
FEATURE__STATUS=1
IMPLEMENTED_VERSION__STATUS=0
OR__STATUS=0
INFORMATION__STATUS=0
QUESTION__STATUS=0
YES__STATUS=0
NO__STATUS=0
COMMING_IN_VERSION__STATUS=0
NOT_WORKING_100PRO__STATUS=0
NO_NAME__STATUS=0
TIME__STATUS=0
BG__STATUS=0
INS_1__STATUS=0
INS_2__STATUS=0
INSULIN_1__STATUS=0
INSULIN_2__STATUS=0
BU__STATUS=0
ACT__STATUS=0
COMMENT__STATUS=0
DATE_MUST_BE_IN_FORMAT__STATUS=0
TIME_MUST_BE_IN_FORMAT__STATUS=0
ERROR_PARSING_DATE__STATUS=0
DATETIME__STATUS=0
BG_TARGET__STATUS=0
NO_EXPRESSIVENESS__STATUS=0
LITTLE_EXPRESSIVENESS__STATUS=0
STANDARD_EXPRESSIVENESS__STATUS=0
GOOD_EXPRESSIVENESS__STATUS=0
CH_LONG__STATUS=0
ACTIVITY__STATUS=0
FOOD__STATUS=0
UPDATE_FROM_FOOD__STATUS=0
EDIT_FOOD__STATUS=0
DATE_TIME__STATUS=0
FOOD_SET__STATUS=0
FOOD_BY_DESCRIPTION__STATUS=0
FOOD_BY_DESCRIPTION_TITLE__STATUS=0
DESCRIBE_FOODS__STATUS=0
CALCULATE__STATUS=0
NO_DESCRIPTIONS_WITH_CH__STATUS=0
CH__STATUS=0
DATE__STATUS=0
TIME__STATUS=0
ADD_ROW__STATUS=0
EDIT_ROW__STATUS=0
CLOSE__STATUS=0
COURSE_GRAPH__STATUS=0
SPREAD_GRAPH__STATUS=0
TO_BE_DRAWN__STATUS=0
CONNECT_VALUES_FOR_ONE_DAY__STATUS=0
SUM_BU__STATUS=0
SUM__STATUS=0
SUM_INSULIN__STATUS=0
AVG_BG_PER_DAY__STATUS=0
MEALS__STATUS=0
INS_SLASH_BU__STATUS=0
DRAW__STATUS=0
DAILYGRAPHFRAME__STATUS=0
DAILYSTATSFRAME__STATUS=0
SAVE__STATUS=0
DELETE_ROW__STATUS=0
LOWEST__STATUS=0
STD_DEV__STATUS=0
READINGS__STATUS=0
HIGHEST__STATUS=0
AVG_BG__STATUS=0
BLOOD_GLUCOSE__STATUS=0
BREAD_UNITS__STATUS=0
AVG__STATUS=0
INSULIN__STATUS=0
URINE__STATUS=0
DOSE__STATUS=0
TOTAL__STATUS=0
AVG_INS__STATUS=0
DOSE_INS__STATUS=0
CANCEL__STATUS=0
OK__STATUS=0
HELP__STATUS=0
ADD_NEW_VALUES__STATUS=0
COURSEGRAPHFRAME__STATUS=0
FREQGRAPHFRAME__STATUS=0
GRAPH__STATUS=0
ADD_NEW_ROW_TO_TABLE__STATUS=0
DELETE_SELECTED_ROWS__STATUS=0
SELECT_ROW_FIRST__STATUS=0
READINGS_SLASH_DAY__STATUS=0
VALUATION__STATUS=0
INIT__STATUS=0
READY__STATUS=0
UNKNOWN__STATUS=0
COMMENTS__STATUS=0
ARE_YOU_SURE_DELETE__STATUS=0
ARE_YOU_SURE_DELETE_ROW__STATUS=0
DAILY_VALUES__STATUS=0
SHOW_DAILY_GRAPH__STATUS=0
DAILY_CONTROL__STATUS=0
MN_QUIT_LT_DESC__STATUS=0
CURRENT_DATE_HAS_CHANGED__STATUS=0
TB_ADD_ROW_DESC__STATUS=0
TB_EDIT_ROW_DESC__STATUS=0
TB_DELETE_ROW_DESC__STATUS=0
TB_READ_METER_LT_DESC__STATUS=0
TB_ABOUT_DESC__STATUS=0
TB_SHOW_GRAPH_DESC__STATUS=0
GGC_LITTLE_TITLE__STATUS=0
TAB_CONTROL__STATUS=0
TAB_SCHEDULE__STATUS=0
TAB_PLUGIN__STATUS=0
TAB_STOCKS__STATUS=0
PLUGIN_IMPLEMENTED_VERSION__STATUS=0
METER_PLUGIN_PANEL__STATUS=0
PUMP_PLUGIN_PANEL__STATUS=0
SHOW_APP__STATUS=0
SHOW_APP_DESC__STATUS=0
HIDE_APP__STATUS=0
HIDE_APP_DESC__STATUS=0
EXIT_APP__STATUS=0
EXIT_APP_DESC__STATUS=0
MN_FILE__STATUS=0
MN_DATA__STATUS=0
MN_DATA_GRAPH__STATUS=0
MN_DOCTOR__STATUS=0
MN_FOOD__STATUS=0
MN_PRINTING__STATUS=0
MN_METERS__STATUS=0
MN_PUMPS__STATUS=0
MN_TOOLS__STATUS=0
MN_HELP__STATUS=0
MN_CGMS__STATUS=0
MN_LOGIN__STATUS=0
MN_LOGIN_DESC__STATUS=0
MN_LOGOUT__STATUS=0
MN_LOGOUT_DESC__STATUS=0
MN_QUIT__STATUS=0
MN_QUIT_DESC__STATUS=0
MN_DAILY__STATUS=0
MN_DAILY_DESC__STATUS=0
MN_COURSE__STATUS=0
MN_COURSE_DESC__STATUS=0
MN_SPREAD__STATUS=0
MN_SPREAD_DESC__STATUS=0
MN_FREQUENCY__STATUS=0
MN_FREQUENCY_DESC__STATUS=0
MN_HBA1C__STATUS=0
MN_HBA1C_DESC__STATUS=0
MN_DATA_RATIO__STATUS=0
MN_DATA_RATIO_DESC__STATUS=0
MN_RATIO_BASE__STATUS=0
MN_RATIO_BASE_DESC__STATUS=0
MN_RATIO_EXTENDED__STATUS=0
MN_RATIO_EXTENDED_DESC__STATUS=0
MN_RATIO_CALC__STATUS=0
MN_RATIO_CALC_DESC__STATUS=0
MN_DB_MAINT__STATUS=0
MN_DB_MAINT_DESC__STATUS=0
MN_DB_BACKUP__STATUS=0
MN_DB_BACKUP_DESC__STATUS=0
MN_DB_RESTORE__STATUS=0
MN_DB_RESTORE_DESC__STATUS=0
MN_MISC_SYNCHRONIZE__STATUS=0
MN_MISC_SYNCHRONIZE_DESC__STATUS=0
MN_PREFERENCES__STATUS=0
MN_PREFERENCES_DESC__STATUS=0
MN_ABOUT__STATUS=0
MN_ABOUT_DESC__STATUS=0
MN_CHECK_FOR_UPDATE__STATUS=0
MN_CHECK_FOR_UPDATE_DESC__STATUS=0
MN_NUTRDB_USDB__STATUS=0
MN_NUTRDB_USDB_DESC__STATUS=0
MN_NUTRDB_USER__STATUS=0
MN_NUTRDB_USER_DESC__STATUS=0
MN_MEALS__STATUS=0
MN_MEALS_DESC__STATUS=0
MN_REPORTS__STATUS=0
MN_REPORTS_DESC__STATUS=0
MN_PDF_SIMPLE__STATUS=0
MN_PDF_SIMPLE_DESC__STATUS=0
MN_PDF_EXT__STATUS=0
MN_PDF_EXT_DESC__STATUS=0
MN_FOODMENU__STATUS=0
MN_FOODMENU_DESC__STATUS=0
MN_FOODMENU_SIMPLE__STATUS=0
MN_FOODMENU_SIMPLE_DESC__STATUS=0
MN_FOODMENU_EXT1__STATUS=0
MN_FOODMENU_EXT1_DESC__STATUS=0
MN_FOODMENU_EXT2__STATUS=0
MN_FOODMENU_EXT2_DESC__STATUS=0
MN_FOODMENU_EXT3__STATUS=0
MN_FOODMENU_EXT3_DESC__STATUS=0
MN_DOCS__STATUS=0
MN_DOCS_DESC__STATUS=0
MN_APPOINT__STATUS=0
MN_APPOINT_DESC__STATUS=0
MN_STOCKS__STATUS=0
MN_STOCKS_DESC__STATUS=0
MN_METERS_READ__STATUS=0
MN_METERS_READ_DESC__STATUS=0
MN_METERS_LIST__STATUS=0
MN_METERS_LIST_DESC__STATUS=0
MN_METERS_CONFIG__STATUS=0
MN_METERS_CONFIG_DESC__STATUS=0
MN_METERS_ABOUT__STATUS=0
MN_METERS_ABOUT_DESC__STATUS=0
MN_PUMPS_READ__STATUS=0
MN_PUMPS_READ_DESC__STATUS=0
MN_PUMPS_LIST__STATUS=0
MN_PUMPS_LIST_DESC__STATUS=0
MN_PUMPS_CONFIG__STATUS=0
MN_PUMPS_CONFIG_DESC__STATUS=0
MN_PUMP_PROFILES__STATUS=0
MN_PUMP_PROFILES_DESC__STATUS=0
MN_PUMPS_MANUAL_ENTRY__STATUS=0
MN_PUMPS_MANUAL_ENTRY_DESC__STATUS=0
MN_PUMPS_ADDITIONAL_DATA__STATUS=0
MN_PUMPS_ADDITIONAL_DATA_DESC__STATUS=0
MN_PUMPS_ABOUT__STATUS=0
MN_PUMPS_ABOUT_DESC__STATUS=0
MN_PUMPS_READ_DATA__STATUS=0
MN_PUMPS_READ_DATA_DESC__STATUS=0
MN_PUMPS_READ_CONFIG__STATUS=0
MN_PUMPS_READ_CONFIG_DESC__STATUS=0
MN_CGMS_READ__STATUS=0
MN_CGMS_READ_DESC__STATUS=0
MN_CGMS_LIST__STATUS=0
MN_CGMS_LIST_DESC__STATUS=0
MN_CGMS_CONFIG__STATUS=0
MN_CGMS_CONFIG_DESC__STATUS=0
MN_CGMS_ABOUT__STATUS=0
MN_CGMS_ABOUT_DESC__STATUS=0
ENDING_DATE__STATUS=0
STARTING_DATE__STATUS=0
1_WEEK__STATUS=0
1_MONTH__STATUS=0
3_MONTHS__STATUS=0
CUSTOM__STATUS=0
DATE_RANGE_SELECTOR__STATUS=0
SU__STATUS=0
MO__STATUS=0
TU__STATUS=0
WE__STATUS=0
TH__STATUS=0
FR__STATUS=0
SA__STATUS=0
JANUARY__STATUS=0
FEBRUARY__STATUS=0
MARCH__STATUS=0
APRIL__STATUS=0
MAY__STATUS=0
JUNE__STATUS=0
JULY__STATUS=0
AUGUST__STATUS=0
SEPTEMBER__STATUS=0
OCTOBER__STATUS=0
NOVEMBER__STATUS=0
DECEMBER__STATUS=0
GENERAL_INFORMATION__STATUS=0
YOUR_NAME__STATUS=0
BOLUS_INSULIN__STATUS=0
BASAL_INSULIN__STATUS=0
GLUCOMETER__STATUS=0
BG_UNIT__STATUS=0
HBA1C__STATUS=0
YOUR_CURRENT_HBA1C__STATUS=0
NO_READINGS__STATUS=0
NO_DATASOURCE__STATUS=0
SCHEDULE__STATUS=0
YOUR_NEXT_APPOINTMENT__STATUS=0
APP_WILL_BE_FOUND_HERE__STATUS=0
STATISTICS_FOR_LAST_WEEK__STATUS=0
BG_STATISTICS__STATUS=0
BU_STATISTICS__STATUS=0
BU_PER_DAY__STATUS=0
AVG_MEAL_SIZE__STATUS=0
MEALS_PER_DAY__STATUS=0
STATISTICS__STATUS=0
PER_DAY__STATUS=0
AVG_DOSE_SIZE__STATUS=0
DOSES_PER_DAY__STATUS=0
OTHER_INFO__STATUS=0
STOCK__STATUS=0
STOCK_DATA_HERE__STATUS=0
STO_WILL_BE_FOUND_HERE__STATUS=0
NOT_YET__STATUS=0
BOLUS_INSULIN_SHORT__STATUS=0
BASAL_INSULIN_SHORT__STATUS=0
CALCULATED_HBA1C__STATUS=0
APPLY__STATUS=0
ERROR__STATUS=0
INVALID_NAME__STATUS=0
PREFERENCES__STATUS=0
GENERAL__STATUS=0
MEDICAL_DATA__STATUS=0
COLORS_AND_FONTS__STATUS=0
RENDERING_QUALITY__STATUS=0
SOME_VALUES_CHANGED_LIKE_TO_SAVE__STATUS=0
VALUES_CHANGED__STATUS=0
CHOOSE_A_COLOR__STATUS=0
BG_HIGH_ZONE__STATUS=0
BG_TARGET_ZONE__STATUS=0
BG_LOW_ZONE__STATUS=0
BG_AVERAGE__STATUS=0
INS_SLASH_BU_QUOTIENT__STATUS=0
NAME__STATUS=0
ABBR__STATUS=0
HIGH_BG__STATUS=0
LOW_BG__STATUS=0
TARGET_HIGH_BG__STATUS=0
TARGET_LOW_BG__STATUS=0
INSULIN_SETTINGS__STATUS=0
BLOOD_GLUCOSE_SETTINGS__STATUS=0
BLOOD_GLUCOSE_UNIT_SETTING__STATUS=0
BLOOD_GLUCOSE_SETTINGS_1__STATUS=0
BLOOD_GLUCOSE_SETTINGS_2__STATUS=0
HOST__STATUS=0
PORT__STATUS=0
USERNAME__STATUS=0
PASSWORD__STATUS=0
OPTIONS__STATUS=0
ANTIALIASING__STATUS=0
COLOR_RENDERING__STATUS=0
DITHERING__STATUS=0
FRACTIONAL_METRICS__STATUS=0
INTERPOLATION__STATUS=0
TEXT_ANTIALIASING__STATUS=0
RENDERING__STATUS=0
DE__STATUS=0
EN__STATUS=0
SI__STATUS=0
YOUR_LANGUAGE__STATUS=0
COLOR_SCHEME_SELECT__STATUS=0
SELECTED_COLOR_SCHEME__STATUS=0
NEW_SCHEME__STATUS=0
COLORS__STATUS=0
COLOR_SCHEME_PREDEFINED__STATUS=0
USE_AS_TEMPLATE__STATUS=0
CREATE_NEW_SCHEME__STATUS=0
EDIT_DELETE_SCHEME__STATUS=0
TYPE_NAME_BEFORE__STATUS=0
SCHEME_NAME_ALREADY_USED__STATUS=0
PREDEFINED_SCHEME_CANT_BE_CHANGED__STATUS=0
EXECUTABLE_FILES__STATUS=0
SELECT_PDF_VIEWER__STATUS=0
COLOR_PREVIEW__STATUS=0
ACTION__STATUS=0
ACTION_DELETE__STATUS=0
ACTION_EDIT__STATUS=0
SELECTED_SCHEME__STATUS=0
NEW_NAME__STATUS=0
SELECT_ACTION_OR_CANCEL__STATUS=0
GENERAL_SETTINGS__STATUS=0
DATABASE_SETTINGS__STATUS=0
DATABASE_SETTINGS_DESC__STATUS=0
SELECTED_DATABASE__STATUS=0
LAF_SETTINGS__STATUS=0
LAF_SETTINGS_DESC__STATUS=0
SELECTED_LAF_TYPE_NAME__STATUS=0
SELECTED_LAF_TYPE_CLASS__STATUS=0
SELECTED_SKINLF_DEF__STATUS=0
SELECT_SKINLF_SKIN__STATUS=0
SELECT__STATUS=0
BASIC_SETTINGS__STATUS=0
EMPTY_VALUE__STATUS=0
PDF_VIEWER_SETTINGS__STATUS=0
PDF_VIEWER__STATUS=0
BROWSE__STATUS=0
LUNCH_START_TIME__STATUS=0
DINNER_START_TIME__STATUS=0
NIGHT_START_TIME__STATUS=0
MODE__STATUS=0
APPLICATION_MODE__STATUS=0
PEN_INJECTION_MODE__STATUS=0
PUMP_MODE__STATUS=0
APPLICATION_MODE_DESC__STATUS=0
PEN_INJECTION_MODE_SETTINGS__STATUS=0
PUMP_MODE_SETTINGS__STATUS=0
BASAL_PRECISSION__STATUS=0
BOLUS_PRECISSION__STATUS=0
MAX_BASAL__STATUS=0
MAX_BOLUS__STATUS=0
TBR_TYPE_SELECTOR__STATUS=0
TBR_TYPE_BOTH__STATUS=0
TBR_TYPE_UNIT__STATUS=0
TBR_TYPE_PROC__STATUS=0
TBR_TYPE_CHOICE__STATUS=0
PROCENT_MIN__STATUS=0
UNIT_MIN__STATUS=0
TASK_MIN__STATUS=0
TASK_MAX__STATUS=0
TASK_STEP__STATUS=0
LANGUAGE__STATUS=0
LANGPACK_VERSION__STATUS=0
LANG_WITH_HELP__STATUS=0
LANG_WITHOUT_HELP__STATUS=0
SELECT_LANGUAGE__STATUS=0
NO_HELP_AVAILABLE__STATUS=0
HELP_AVAILABLE__STATUS=0
LANG_DESC__STATUS=0
NOTE_RESTART__STATUS=0
NOTE_LANG_FEATURE_NOT_WORKING__STATUS=0
UNNAMED_USER__STATUS=0
THIS_FILE_WAS_AUTOMATICALY_GENERATED__STATUS=0
YOUR_VERSION__STATUS=0
AVAILABLE_VERSION__STATUS=0
NO_NEW_VERSION__STATUS=0
CHECK_FOR_NEW_VERSION__STATUS=0
HOST_UNAVAILABLE_INFO__STATUS=0
HOST_UNAVAILABLE_MSG__STATUS=0
DAYS_WITH_READINGS_0_1__STATUS=0
DAYS_WITH_READINGS_2_3__STATUS=0
DAYS_WITH_READINGS_4_5__STATUS=0
DAYS_WITH_READINGS_6_7__STATUS=0
DAYS_WITH_READINGS_MORE_7__STATUS=0
AXIS_TIME_LABEL__STATUS=0
AXIS_VALUE_LABEL__STATUS=0
FORMAT_DATE_DAYS__STATUS=0
FORMAT_DATE_HOURS__STATUS=0
DB_TOOL__STATUS=0
DB_CONFIGURATION__STATUS=0
DB_PRESS_HELP__STATUS=0
DB_CONFIG_DESC__STATUS=0
DATABASE_TYPE__STATUS=0
DATABASE_CLASSNAME__STATUS=0
HIBERNATE_DIALECT__STATUS=0
JDBC_URL__STATUS=0
HOSTNAME__STATUS=0
DATABASE__STATUS=0
DATE__STATUS=0
PRINTING__STATUS=0
TYPE_OF_REPORT__STATUS=0
SELECT_YEAR_AND_MONTH__STATUS=0
REPORT_FOOTER__STATUS=0
FOR__STATUS=0
PRINTING_SETTINGS_NOT_SET__STATUS=0
PRINTING_SETTINGS_NOT_SET_SOL__STATUS=0
PDF_VIEVER_RUN_ERROR__STATUS=0
SELECT_STARTING_RANGE__STATUS=0
SELECT_ENDING_RANGE__STATUS=0
INS_SHORT__STATUS=0
CH_SHORT__STATUS=0
BREAKFAST__STATUS=0
LUNCH__STATUS=0
DINNER__STATUS=0
NIGHT__STATUS=0
SIMPLE_MONTHLY_REPORT__STATUS=0
EXTENDED_MONTHLY_REPORT__STATUS=0
FOOD_MENU_BASE__STATUS=0
FOOD_MENU_EXT_I__STATUS=0
FOOD_MENU_EXT_II__STATUS=0
FOOD_MENU_EXT_III__STATUS=0
STOCKS__STATUS=0
APPOINTMENTS__STATUS=0
CLOSE__STATUS=0
SYSTEM_PROPERTIES__STATUS=0
ABOUT__STATUS=0
PROPERTY__STATUS=0
VALUE__STATUS=0
LICENCE__STATUS=0
CREDITS__STATUS=0
LIBRARIES__STATUS=0
MAIN__STATUS=0
ABOUT_GGC__STATUS=0
GGC_DEVELOPMENT_TEAM__STATUS=0
SEE_CREDITS__STATUS=0
GGC_TITLE__STATUS=0
CURRENT_DEVELOPERS__STATUS=0
PREVIOUS_DEVELOPERS__STATUS=0
ADDICTION_MEDICINE__STATUS=0
ADOLESCENT_MEDICINE__STATUS=0
AIDS_HIV_CARE__STATUS=0
ANESTHESIOLOGY__STATUS=0
ASTHMA_ALLERGY_IMMUNOLOGY__STATUS=0
BREAST_CANCER_SURGERY__STATUS=0
CARDIAC_SURGERY__STATUS=0
CHILD_CARE__STATUS=0
CARDIOLOGY__STATUS=0
COLORECTAL_SURGERY__STATUS=0
COSMETIC_SURGERY__STATUS=0
CRITICAL_CARE__STATUS=0
DENTAL_SPECIALTIES__STATUS=0
DERMATOLOGY__STATUS=0
DIABETES__STATUS=0
EMERGENCY_MEDICINE__STATUS=0
ENDOCRINOLOGY__STATUS=0
EPILEPSY__STATUS=0
FAMILY_MEDICINE__STATUS=0
GASTROENTEROLOGY__STATUS=0
GENERAL_SURGERY__STATUS=0
GENERAL_INTERNAL_MEDICINE__STATUS=0
GERIATRICS__STATUS=0
GYNECOLOGIC_ONCOLOGY__STATUS=0
GYNECOLOGY__STATUS=0
HAND_SURGERY__STATUS=0
HEAD_AND_NECK_SURGERY__STATUS=0
HEADACHE__STATUS=0
HEMATOLOGY__STATUS=0
HOSPITAL_INTERNAL_MEDICINE__STATUS=0
INFECTIOUS_DISEASES__STATUS=0
INFERTILITY_MEDICINE__STATUS=0
INTERNAL_MEDICINE__STATUS=0
LABORATORY_MEDICINE__STATUS=0
MIDWIFE__STATUS=0
MEDICAL_GENETICS__STATUS=0
METABOLISM__STATUS=0
MOVEMENT_DISORDERS__STATUS=0
NEONATOLOGY__STATUS=0
NEPHROLOGY__STATUS=0
NEUROLOGY__STATUS=0
NEURO_OPTHALMOLOGY__STATUS=0
NEUROSURGERY__STATUS=0
NUCLEAR_MEDICINE__STATUS=0
NUTRITION_MEDICINE__STATUS=0
OBSTETRICS_AND_GYNECOLOGY__STATUS=0
ONCOLOGY_MEDICAL__STATUS=0
ONCOLOGY_RADIATION__STATUS=0
OPTHALMOLOGY__STATUS=0
ORAL_MAXILLOFACIAL_SURGERY__STATUS=0
ORTHOPEDIC_SURGERY__STATUS=0
OTOLARYNGOLOGY__STATUS=0
OTOLOGY__STATUS=0
PAIN_MANAGEMENT__STATUS=0
PATHOLOGY__STATUS=0
PEDIATRIC__STATUS=0
PEDIATRIC_SPECIALISTS__STATUS=0
PERINATOLOGY__STATUS=0
PHYSIATRY__STATUS=0
PHYSICAL_REHABILITATION__STATUS=0
PLASTIC_RECONSTRUCTIVE_SURGERY__STATUS=0
PODIATRY__STATUS=0
PROSTATE_CARE__STATUS=0
PSYCHIATRY__STATUS=0
PSYCHOLOGY__STATUS=0
PULMONARY_MEDICINE__STATUS=0
RADIOLOGY__STATUS=0
RADIATION_ONCOLOGY__STATUS=0
REPRODUCTIVE_ENDOCRINOLOGY_INFERTILITY__STATUS=0
RHEUMATOLOGY__STATUS=0
SLEEP_DISOREDERS__STATUS=0
SPORTS_MEDICINE__STATUS=0
THORACIC_SURGERY__STATUS=0
TRANSPLANT__STATUS=0
UROLOGY__STATUS=0
VASCULAR_SURGERY__STATUS=0
DOCTORS__STATUS=0
FILTER__STATUS=0
FILTER_VISIBLE__STATUS=0
FILTER_ALL__STATUS=0
RATIO_BASE__STATUS=0
INSULIN_CARB_RATIO__STATUS=0
SENSITIVITY_FACTOR_LONG__STATUS=0
FILL_RATIO_ENTRIES__STATUS=0
RATIO_CALCULATOR__STATUS=0
TYPE_SOURCE_DATA__STATUS=0
TYPE_SOURCE_MANUAL__STATUS=0
TYPE_SOURCE_DB__STATUS=0
TDD_FOR_CALCULATION__STATUS=0
RATIO_TIME_SELECT_DESC__STATUS=0
1_WEEK__STATUS=0
2_WEEKS__STATUS=0
3_WEEKS__STATUS=0
1_MONTH__STATUS=0
DB_DATA_STATUS__STATUS=0
DB_DATA_NOT_READY__STATUS=0
DB_DATA_READY__STATUS=0
GET_DATA__STATUS=0
RULE_500__STATUS=0
RULE_450__STATUS=0
RULE_300__STATUS=0
RULE_1800__STATUS=0
RULE_1500__STATUS=0
SELECT_RANGE__STATUS=0
SELECT_RULE__STATUS=0
SENSITIVITY_FACTOR__STATUS=0
CALCULATION__STATUS=0
INS_CH_RATIO_PROC__STATUS=0
INS_BG_RATIO__STATUS=0
INS_BG_RATIO_PROC__STATUS=0
CH_BG_RATIO__STATUS=0
CH_BG_RATIO_PROC__STATUS=0
TDD_MUST_BE_GREATER_THAN_ZERO__STATUS=0
RATIO_CALCULATOR_NOT_IMPLEMENTED__STATUS=0
RATIOS_NOT_DONE__STATUS=0
BOLUS_HELPER__STATUS=0
READ_RATIOS__STATUS=0
CH_INSULIN_RATIO__STATUS=0
BG_INSULIN_RATIO__STATUS=0
BG_OH_RATIO__STATUS=0
CORRECTION_DOSE__STATUS=0
CARB_DOSE__STATUS=0
TOGETHER__STATUS=0
TOGETHER_ROUNDED__STATUS=0
NO_BG_MEASURE__STATUS=0
NO_CARBS_DEFINED__STATUS=0
UNIT_SHORT__STATUS=0
TOGETHER_ROUNDED__STATUS=0
METERS_PLUGIN__STATUS=0
PUMPS_PLUGIN__STATUS=0
CGMS_PLUGIN__STATUS=0
NUTRITION_PLUGIN__STATUS=0
STATUS_NOT_INSTALLED__STATUS=0
STATUS_NOT_AVAILABLE__STATUS=0
STATUS_INSTALLED__STATUS=0
PLUGIN_NOT_INSTALLED_OR_AVAILABLE__STATUS=0
PLUGIN_NOT_INSTALLED__STATUS=0
PUMP_PLUGIN_EXPERIMENTAL__STATUS=0
BACKUP__STATUS=0
BACKUP_DB_TITLE__STATUS=0
BACKUP_DB_TITLE_SHORT__STATUS=0
SELECT_ELEMENTS_TO_BACKUP__STATUS=0
TOTAL_PROGRESS__STATUS=0
BACKUP_NOT_STARTED_YET__STATUS=0
CURRENT_TASK__STATUS=0
NO_TASK_STARTED__STATUS=0
GGC_BACKUP__STATUS=0
NUTRITION_OBJECTS__STATUS=0
USER_FOOD_GROUPS__STATUS=0
MEAL_GROUPS__STATUS=0
MEALS__STATUS=0
FOODS__STATUS=0
TASK__STATUS=0
SETTINGS__STATUS=0
CONFIGURATION__STATUS=0
COLOR_SCHEMES__STATUS=0
RESTORE_DB_TITLE__STATUS=0
RESTORE_DB_TITLE_SHORT__STATUS=0
RESTORE__STATUS=0
RESTORE_NOT_STARTED_YET__STATUS=0
RESTORE_SELECTOR_DESC__STATUS=0
SELECT_ELEMENTS_TO_RESTORE__STATUS=0
DAILY_VALUES_APPEND__STATUS=0
FILE_FILTER_DBE__STATUS=0
FILE_FILTER_ZIP__STATUS=0
SELECT_FILE_TO_RESTORE__STATUS=0
NEXT_STEP__STATUS=0
LEGEND__STATUS=0
NEWEST__STATUS=0
NOT_UPDATED__STATUS=0
NOT_UPDATABLE__STATUS=0
UNKNOWN_STATUS__STATUS=0
CHECK_SERVER__STATUS=0
RUN_UPDATE__STATUS=0
NAME__STATUS=0
CURRENT_VERSION__STATUS=0
SERVER_VERSION__STATUS=0
UPDATEABLE__STATUS=0
COMMENT__STATUS=0
UPDATE_APPLICATION__STATUS=0
UPDATE_SERVER_NA__STATUS=0
DB_ERROR_ON_LOAD__STATUS=0
DB_HEADER__STATUS=0
DB_VERSION_LOWER__STATUS=0
DB_VERSION_HIGHER__STATUS=0
ERROR_DIALOG__STATUS=0
DETAILS__STATUS=0
ERROR_SOLUTION__STATUS=0
EXCEPTION_LOG__STATUS=0
SEND_TO_SERVER__STATUS=0
SENDING_TO_SERVER__STATUS=0
SEND_TO_SERVER_TEXT__STATUS=0
NO_SOLUTION_AVAILABLE__STATUS=0
DEVICE_METER__STATUS=0
DEVICE_PUMP__STATUS=0
DEVICE_CGMS__STATUS=0
PLUGIN_NOT_INSTALLED__STATUS=0
PLUGIN_NA__STATUS=0
PLUGIN_NO_FUNCTIONALITY__STATUS=0
DEVICES_USED__STATUS=0
PLUGINS__STATUS=0
PLUGIN_NOT_ACTIVE__STATUS=0
NUTRITION_PLUGIN__STATUS=0
